body,div,header,nav,ul,li,h1,h2,h3,h4,h5,p,button,main,footer,section,article,a {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

header {
    background: linear-gradient(to bottom left, #4C9E98 , #504D84);
    padding-bottom: 20px;
    margin-bottom: 30px;
}

#navBar>h4 {
    font-size: 20px;
}

#navBar {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #fff;
    padding: 30px;
    font-size: 13px;
    color: #fff;
}

#navBar>ul {
    margin-top: 6px;
}

#navBar>ul>li {
    display: inline-block;
    margin: 0 6px;
}

#navBar>ul>li>a {
    text-decoration: none;
    color: #FFF;
}

#navBar>ul>li>a:hover {
    color: #58ECFD;
}

header>h1 {
    text-align: center;
    font-size: 52px;
    color: #58ECFD;
    font-weight: bold;
    letter-spacing: 7px;
    margin-top: 20px;
}

header>h3 {
    text-align: center;
    font-size: 17px;
    color: #fff;
    letter-spacing: 1px;
}

header>p#big {
    text-align: center;
    font-size: 39px;
    color: #FFF;
    margin: 30px;
    padding: 0 30px;
}

header>p#small {
    text-align: center;
    color: #FFF;
}

header>p#small>a {
    font-weight: lighter;
    color: #FFF;
}

header>button {
    display: block;
    margin: 0px auto;
    background: linear-gradient(to bottom left, #90ACC8 , #536F9F);
    width: 170px;
    height: 45px;
    border: 2px solid white;
    color: white;
    font-size: 22px;
    cursor: pointer;
    margin-bottom: 30px;
}

main>h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #708396;
    font-size: 25px;
}

section#firstSection {
    display: flex;
    justify-content: space-around;
}

section#firstSection>article {
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
section#firstSection>article>div {
    margin: 20px;
}

#glyph {
    padding: 20px;
    /*border: 1px solid red;*/
    border-radius: 50px;
    background-color: #4F5987;
}

#glyph>span {
    font-size: 70px;
    color: #58ECFD;
}

#infoValue {
    font-size: 47px;
    text-align: center;
    color: #58ECFD;
}

#infoLabel {
    font-size: 37px;
    text-align: center;
    color: #4F5987;
}

#horWrap {
    background-color: #4F5987;
    padding: 20px;
    margin: 30px 0px;
    border-radius: 5px;
}

#horizontalParagraph {
    text-align: center;
    width: 200px;
    margin: 0 auto;
    color: #58ECFD;
    font-size: 47px;
}

section#secondSection {
    display: flex;
    justify-content: space-around;
}

#topic {
    text-align: center;
    color: #4F5987;
    font-size: 32px;
    margin-bottom: 5px;
}

td,th {
    text-align: center;
}
