<?= $this->doctype() ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?= $this->headTitle('Reporting Tool')->setSeparator(' - ')->setAutoEscape(false) ?>

        <?= $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'])
            ->prependStylesheet($this->basePath('css/custom.css'))
            ->prependStylesheet($this->basePath('css/bootstrap-theme.min.css'))
            ->prependStylesheet($this->basePath('css/bootstrap.min.css'))
        ?>

        <!-- Scripts -->
        <?= $this->headScript()
            ->prependFile($this->basePath('js/bootstrap.min.js'))
            ->prependFile($this->basePath('js/jquery-3.1.0.min.js'))
            ->prependFile($this->basePath('js/custom.js'))
        ?>
    </head>
    <body>
        <header>
            <div id="navBar">
                <h4>SDT</h4>
                <ul>
                    <li><a href="#">Dashboard 1</a></li>
                    <li><a href="#">Dashboard 2</a></li>
                    <li><a href="#">Dashboard 3</a></li>
                    <li><a href="#">Dashboard 4</a></li>
                </ul>
            </div>
            <h1 id="title">SIMPLE DASHBOARD TOOL</h1>

            <p id="big">"Without data, you are just another person with an opinion."</p>
            <p id="small">W. Edwards Deming</p>
        </header>
        <div class="container">
            <?= $this->content ?>
            <hr>
            <footer>
                <p>Pavel Shalev - <?php echo date('Y')?></p>
            </footer>
        </div>
        <?= $this->inlineScript() ?>
    </body>
</html>
