<?php

$position = 1;

$title = '';
$this->headTitle($title);

?>

<div id="wrapper">
    <main>
        <h2></h2>
        <section id="firstSection">
            <article>
                <div id="infoContainer">
                    <p id="infoValue"><?= $this->escapeHtml($numberOfViews) ?></p>
                    <p id="infoLabel">Total Views</p>
                </div>
                <div id="glyph"><span class="glyphicon glyphicon-facetime-video"></span></div>
            </article>
            <article>
                <div id="infoContainer">
                    <p id="infoValue"><?= $this->escapeHtml($uniqueViews) ?></p>
                    <p id="infoLabel">Unique Viewers</p>
                </div>
                <div id="glyph"><span class="glyphicon glyphicon-user"></span></div>
            </article>
        </section>

        <div id="horWrap"><p id="horizontalParagraph">Charts</p></div>
        <section id="secondSection">
            <article>
                <h3 id="topic">Top Viewers</h3>
                <div id="table wrapper">
                    <table  class="table table-striped table-hover table-bordered">
                        <thead>
                        <th>#</th>
                        <th>Full Name</th>
                        <th>Views Count</th>
                        </thead>
                        <tbody>
                        <?php foreach ($topViewers as $viewer) :?>
                            <tr>
                                <td><?= $this->escapeHtml($position++) ?></td>
                                <td><?= $this->escapeHtml($viewer['fullName']) ?></td>
                                <td><?= $this->escapeHtml($viewer['countOfViews']) ?></td>
                            </tr>
                        <?php endforeach; $position = 1; ?>

                        </tbody>
                    </table>
                </div>
            </article>
            <article>
                <h3 id="topic">Browsers Used</h3>
                <div id="table wrapper">
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                        <th>#</th>
                        <th>Browser</th>
                        <th>Count</th>
                        </thead>
                        <tbody>
                        <?php foreach ($browsers as $browser) :?>
                            <tr>
                                <td><?= $this->escapeHtml($position++) ?></td>
                                <td><?= $this->escapeHtml($browser['browser']) ?></td>
                                <td><?= $this->escapeHtml($browser['browserCount']) ?></td>
                            </tr>
                        <?php endforeach; $position = 1; ?>
                        </tbody>
                    </table>
                </div>
            </article>
            <article>
                <h3 id="topic">Top Sessions</h3>
                <div id="table wrapper">
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Count</th>
                            </tr>
                        </thead>
                        <tbody>
                        <?php foreach ($mostPopularSessions as $session) :?>
                            <tr>
                                <td><?= $this->escapeHtml($position++) ?></td>
                                <td><?= $this->escapeHtml($session['title']) ?></td>
                                <td><?= $this->escapeHtml($session['countOfViews']) ?></td>
                            </tr>
                        <?php endforeach; $position = 1; ?>
                        </tbody>
                    </table>
                </div>
            </article>
        </section>
    </main>
</div>



